@using Project6.Models;

@model IEnumerable<Project6.Models.Person>

@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" id="mainrow">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="~/Images/wicon.jpg"></a>
        <h1>World Wide Importers</h1>
    </div>
</nav>
<div class="row" id="formrow">
    <div class="container-fluid">
        <form action="/Home/Index" method="get">
            <div class="col-lg-10">
                <div class="input-group">
                    <input type="text" class="form-control" style="width: 1000px; height: 46px" />
                    @Html.DropDownListFor(m => m, new SelectList(Enum.GetValues(typeof(Person))), "Select name")
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="submit"> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

