@model Project6.Models.Person

@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" id="mainrow">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="~/Images/wicon.jpg"></a>
        <h1>World Wide Importers</h1>
    </div>
</nav>

