@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid" id="mainrow">
        <a class="navbar-brand" mdbTooltip="Tooltip on bottom" placement="mdbRippleRadius"><img href="/img/wicon.jpg" /></a>
        <h1>World Wide Importers</h1>
    </div>
</nav>