html, body {
    height: 100%;
    width: 100%;  
    background-color: #F2F5A9 !important;
    color: #483D8B;
}

.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top {
    background-color: tan !important;
}


.fab.fa-the-red-yeti {
    color: red;
    padding: 5px;
}


.jumbotron {
    background-color: orange !important;
}

.sub-but {
    padding-top: 10px;
}

.sub-but-temp {
    padding-top: 10px;
}

#fid {
    background-color: #F2F5A9;
}

#response {
    font-weight: bold;
    color: red;
    padding: 7px 7px 7px 7px;
}

.card {
    width: 100%;
}

.card-img-top {
    width: 100%;
}

#form2 {
    padding: 10px 10px 10px 10px;
}

#frm2div {
    font-weight: bold;
    color: firebrick;
}

#imgpane {
    padding-right: 50px;
}

#imggallery {
    width: 250px;
    float: left;
    padding-top: 20px;
}

#imggallery img {
    width: 100px;
    margin: 10px;
}

.footer {
    background-color: tan;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   
}