html, body {
    height: 100%;
    width: 100%;  
    background-color: cornsilk;
}

.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top {
    background-color: tan !important;
}


.fab.fa-the-red-yeti {
    color: red;
    padding: 5px;
}


.jumbotron {
    background-color: orange !important;
}

.col-4.col-md-4 {
    background-color: #F2F5A9;
}