
@{
    ViewBag.Title = "Converter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Convert Miles to Metric</h2>

<div class="container-fluid">
    <div class="row">
        <form action="" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="milestoconvert">Miles:</label>
                    <input type="text" class="form-control" id="milestoconvert">
                </div>
            </div>
            <div class="col-md-6">
                <h3>Select a unit</h3>
                <hr />
                <div class="radio">
                    <label><input type="radio" name="units" checked><strong>millimeters</strong></label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="units"><strong>centimeters</strong></label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="units"><strong>meters</strong></label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="units"><strong>kilometers</strong></label>
                </div>
            </div>
            <div align="center">
                <input type="submit" class="btn btn-primary" value="Convert" />
            </div>
        </form>
    </div>
    <p>This is the last div in "container-fluid"</p>
</div>


