@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Fix It</h1>
        <p>
            Fix It is a new way to get your maintenance needs known without having to
            pick up the phone and call your property manager. Just fill out a simple 
            form and get your repairs requests in quickly at your convenience.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="request-btn">
                <p><bold>
                    Any repairs that need to be addressed will be serviced
                    in an orderly manner. In case of a major repair, we will
                    contact you so we can assess the damage before any work
                    begins. To start your maintenance request, please click on
                    the link.
                </bold></p>
                @Html.ActionLink("Fix It", "Request", "Request", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>