@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to FixIt</h1>
    <p class="lead">
        FixIt is a new way to get your maintenance needs known without having to pick up the phone and call your property
        manager. Just fill out a simple form and get your repair requests submitted quickly at your convenience.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="reqarea">
            <p>
                <strong>
                    Requests for maintenance will be handled in an orderly manner. In the case of a major repair, we will
                    contact you so we can assess the damage before any work begins.
                </strong>
            </p>
            <p>
                <strong>
                    To start your maintenance request, please click on the link.
                </strong>
            </p>
            <div class="mainbtn">
                @Html.ActionLink("FixIt", "TenantView", "Home", new { @class = "btn btn-primary" })
            </div>  
        </div>
    </div>
</div>