@model Project5.Models.Tenants

@{
    ViewBag.Title = "LookupView";
}

<div class="container-fluid">
    <div class="body-content" id="lkupbody">
        <h2>LookupView</h2>
    </div>
</div>


