
@{
    ViewBag.Title = "CheckName";
}

<h2>Check Account</h2>
<p class="lead">First, let's check if you have an account</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Check for Name</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Please Enter Your Full Name")
        <div class="col-md-10">
            @Html.TextBox("fullName", null, new { @class = "form-control" })
        </div>
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
}

