@model Project6.Models.ViewModels.PersonName

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" id="indexdiv">
    <div class="row">
        @using(Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="col-lg-10">
                <div class="input-group">
                    <label for="namelookup">Please enter a name:</label>
                    <input type="text" name="namelookup" class="form-control input-lg" placeholder="Enter name" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg" id="inputbtn" value="Search"></button>
                    </span>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div>
            @if (Model?.PersonSearch != null)
            {
                <table class="table">
                    @foreach (var p in Model.PersonSearch)
                    {
                        <tr>
                            <td>@Html.ActionLink(@p.InfoOfPerson, "PersonInfo", "Index", new { id = p.IdOfPerson }, null)</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>