@model IEnumerable<Project6.Models.Person> 

@{
    ViewBag.Title = "Home Page";
}



<div class="row" id="textrow">
    <div class="container-fluid">
       @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="input-group">
                <span class="input-group-btn">
                    @Html.TextBox("query", null, new { @class="form-control"})
                    <button class="btn btn-primary btn-sm" type="submit" id="formbtn">Submit</button>
                </span>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        @if(ViewBag.Show = true)
        {
            <ul class="list-group">
                @foreach(var p in Model)
                {
                    <li class="list-group-item">@Html.ActionLink("Index", "Home")</li>
                }
            </ul>
        }
    </div>
</div>