@model Project6.Models.ModelView1.PersonNameModelView
@{
    ViewBag.Title = "Home Page";
}



<div class="row" id="textrow">
    <div class="container-fluid">
       @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div class="input-group">
                <span class="input-group-btn">
                    @Html.TextBoxFor(p => p.NameOfPerson, new { @class="form-control"})
                    <button class="btn btn-primary btn-sm" type="submit" id="formbtn">Submit</button>
                </span>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        @if(Model.NameOfPerson != null)
        {
            <div class="wrapper">
                <ul class="list-group">
                    @foreach (var p in Model.PersonIDModelViews)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink(p.InfoOfPerson, "", "Home", new { id = p.IdOfPerson }, null)
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>