@model Project6.Models.ViewModels.PersonName

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" id="indexdiv">
    <div class="row">
        @using(Html.BeginForm("LookupPerson", "Home", FormMethod.Post))
        {
            <div class="col-lg-10">
                <span class="input-group-btn">
                    @Html.LabelFor(p => p.NameOfPerson)                   
                    @Html.TextBoxFor(p => p.NameOfPerson, new { @class="form-control" })
                    <span>
                    <button type="submit" class="btn btn-primary btn-lg" id="inputbtn" value="Search"></button>
                    </span>
                </span>
            </div>
        }
    </div>
    <div class="row">
        <div>
            @if (Model?.PersonSearch != null)
            {
                <ul class="list-group">
                    @foreach (var p in Model.PersonSearch)
                    {
                        <li class="list-group-item">@Html.ActionLink(p.FullName, "View", "Home", new { id = p.PersonID }, null)</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>