@ViewBag.Title = "API Home";

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APIMainView</title>
</head>
<body>
    <div class="container-fluid"> 
        <div class="banner">
            CS 460 Homework 7
        </div>
    </div>
</body>
</html>
