
@{
    ViewBag.Title = "Index";
}

<div class="input-group" id="entertext">
    @Html.TextBox("thisBox", null, new { id = "inputtxt" })
</div>
<div>
    <input id="output">
</div>

@section Javascript
{
    <script type="text/javascript" src="~/Scripts/MyScripts.js"></script>
}


