
@{
    ViewBag.Title = "Index";
}

<div class="form-group" id="entertext">
    <label for="textbox"></label>
    <input class="form-control" type="text" id="textbox"/>
</div>

@section Javascript
{
    <script type="text/javascript" src="~/Scripts/MyScripts.js"></script>
}


