
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" id="indexheader">
    <h2>Internet Language Translator</h2>
    <div class="form-group" id="entertext">
        <label for="textbox"></label>
        <input class="form-control" type="text" id="textbox" />
    </div>
</div>


@section Javascript
{
    <script type="text/javascript" src="~/Scripts/MyScripts.js"></script>
}


