
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="col-md-12" id="indexheader">
        <h2>Internet Language Translator</h2>
    </div>
    <div class="form-group" id="entertext">
        <label for="textbox"></label>
        <input class="form-control" type="text" id="textbox" />
    </div>
    <div class="row" id="resultrow">
        <p id="ptxt"></p>
    </div>
</div>


@section Javascript
{
    <script type="text/javascript" src="~/Scripts/MyScripts.js"></script>
}


