
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="col-md-12" id="indexheader">
        <h2>Internet Language Translator</h2>
    </div>
    <div class="input-group" id="entertext">
        <div class="col-md-12">
            <span class="input-group-btn">
                <label for="textbox"></label>
                <input class="form-control" type="text" id="textbox" />
                <button class="btn btn-primary btn-sm" type="reset" id="clearsrn">Clear Textbox</button>
            </span>
        </div>
    </div>
    <div class="row" id="resultrow">
        <p id="ptxt"></p>
    </div>
</div>


@section Javascript
{
    <script type="text/javascript" src="~/Scripts/MyScripts.js"></script>
}


