@model IEnumerable<WWImporters.Models.Person>

@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="txtrow">
    <div class="container-fluid">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="input-group">
                <span class="input-group-btn">
                    @Html.TextBox("query", null, new { @class="form-control" })
                    <button class="btn btn-primary btn-sm" type="submit" id="frmbtn">Submit</button>
                </span>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="container-fluid">

    </div>
</div>