body {
    background-image: url("../Content/images/apartmentpic.jpg");
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,

#txtblk {
    align-content: center;
    margin-left: 200px;
}

.jumbotron {
    background-color: tan;
    opacity: 0.9;
}

.reqarea {
    width: 300px;
    height: 261px;
    color: black;
    background-color: slategray;
    padding: 10px;
    margin: 10px;
    text-align: center center;
    opacity: 0.9;
}

.ftname {
    color: black;
}

.mainbtn {
    margin-left: 100px;
}

#tendiv {
    background-image: url("../Content/images/bathroom.jpg") !important;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;  
    opacity: 0.7;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

#tenhead {
    color: black;
}

#tensub {
    color: black;
}

#frtinlineblk {
    display: inline;
    margin-bottom: 100px;
    color: black;
}

#secinlineblk {
    display: inline;
    margin-top: 100px;
    margin-bottom: 100px;
    color: black;
}

#hdpart {
    text-align: center;
    margin-bottom: 100px;
}

#txtblk {
    color: black;
    width: 100%;
    height: auto;
}

#ckbx {
    margin-left: 10px;
}

#tenp {
    color: black;
}

.field-validation-error { color: #f00; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #f00; background-color: #fee; }
.validation-summary-errors { font-weight: bold; color: #f00; }
.validation-summary-valid { display: none; }
